{% extends "base.html" %}

{% block content %}
{% if list_type == "ul" or list_type == "ol" %}
<{{ list_type }}>
    <h4>Список профессий</h4>
    <li>инженер-исследователь</li>
    <li>пилот</li>
    <li>строитель</li>
    <li>экзобиолог</li>
    <li>врач</li>
    <li>инженер по терраформированию</li>
    <li>климатолог</li>
    <li>специалист по радиационной защите</li>
    <li>астрогеолог</li>
    <li>гляцеолог</li>
    <li>инженер жизнеобеспечения</li>
    <li>метеоролог</li>
    <li>оператор марсохода</li>
    <li>киберинженер</li>
    <li>штурман</li>
    <li>пилот дронов</li>
</{{ list_type }}>
{% else %}
<h2 class="error_message">Неверный параметр</h2>
{% endif %}
{% endblock %}