{% extends "base.html" %}

{% block content %}
<h2 align="center">Регистрация</h2>
<form class="login_form" method="post">
    <div>
        {{ form.csrf_token }}
    </div>
    {% set form_fields = [form.email, form.password, form.password_again, form.surname, form.name, form.age,
    form.position, form.speciality, form.address] %}
    {% for field in form_fields %}
        {{ field.label }}<br>
        {% if loop.index == 1 %}
            {% set input_type = "email" %}
        {% elif loop.index <= 3 %}
            {% set input_type = "password" %}
        {% else %}
            {% set input_type = "text" %}
        {% endif %}
        {{ field(class="form-control", type=input_type) }}<br>
        {% for error in field.errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <h6 class="error_message">{{ message }}</h6>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}